<form name="vm.keluargaForm" novalidate>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group has-success" ng-class="{'has-error': vm.keluargaForm.NoKK.$invalid && (vm.keluargaForm.NoKK.$dirty || vm.keluargaForm.$submitted)}">
                <label for="exampleUsername1">No KK</label>
                <input type="number" class="form-control" id="exampleUsername1" name="NoKK" ng-model="keluarga.NoKK" required>
                <span class="help-block error-block basic-block">Wajib diisi</span>
            </div>

            <div class="form-group has-success" ng-class="{'has-error': vm.keluargaForm.Alamat.$invalid && (vm.keluargaForm.Alamat.$dirty || vm.keluargaForm.$submitted)}">
                <label for="exampleInputEmail1">Alamat</label>
                <textarea type="text" class="form-control" id="exampleInputEmail1" name="Alamat" ng-model="keluarga.Alamat" required></textarea>
                <span class="help-block error-block basic-block"> Wajib diisi</span>
            </div>

            <div class="form-group has-success" ng-class="{'has-error': vm.keluargaForm.tanggalBerlaku.$invalid && (vm.keluargaForm.tanggalBerlaku.$dirty || vm.keluargaForm.$submitted)}">
                <label class="control-label" for="inputSuccess1">Berlaku Sampai</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" name="tanggalBerlaku" ng-model="tanggalBerlaku"
                        is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                    />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
          </span>
                </p>
                <span class="help-block error-block basic-block"> Wajib diisi</span>
            </div>
        </div>
    </div>
</form>

<div class="button-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--<button type="button" class="btn btn-danger btn-raised pull-left btn-with-icon" ng-click="deleteKeluarga(keluarga)"><i class="ion-trash-a"></i>Hapus</button>-->
            <button type="button" class="btn btn-primary btn-raised pull-left btn-with-icon" ng-click="editKeluarga(keluarga)"><i class="fa fa-floppy-o"></i>Simpan</button>
        </div>
    </div>
</div>