<form>
  <div class="form-group">
    <label for="input01">TahunMulai</label>
    <input type="text" class="form-control" id="input01" placeholder="TahunMulai" ng-model="rpjm.TahunMulai">
  </div>
  <div class="form-group">
    <label for="input01">TahunSelesai</label>
    <input type="text" class="form-control" id="input01" placeholder="TahunSelesai" ng-model="rpjm.TahunSelesai">
  </div>
  <div class="form-group">
    <label for="input01">Regulasi</label>
    <input type="text" class="form-control" id="input01" placeholder="Regulasi" ng-model="rpjm.Regulasi">
  </div>

  <div class="form-group">
    <label for="textarea01">Perihal</label>
    <textarea placeholder="Perihal" class="form-control" id="textarea01" ng-model="rpjm.Perihal"></textarea>
  </div>

  <div class="form-group">
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" id="inlineCheckbox01" ng-model="rpjm.IsActive">
        <span>Set as active</span>
      </label>
    </div>

  <div class="button-wrapper"><button type="button" class="btn btn-primary btn-raised" ng-click="save()">Save</button></div>
</form>