<div class="horizontal-scroll">

    <div class="add-row-editable-table">
        <button type="button" class="btn btn-warning btn-with-icon" ui-sref="surveyform({id:surveyId})"><i class="ion-plus-circled"></i>Tambah Data</button>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-repeat="item in headerTable">{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in surveydata">
                <td ng-repeat="header in headerTable">{{item.SurveyFormData[$index].value}}</td>
            </tr>
        </tbody>
    </table>
</div>