<div class="horizontal-scroll">
  <table class="table" st-table="smartTableData">
    <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Sub Bidang</th>
                <th rowspan="2">Jenis</th>
                <th rowspan="2">Lokasi</th>
                <th rowspan="2">Prakiraan Volume</th>
                <th rowspan="2">Sasaran</th>
                <th colspan="6">Tahun Pelaksanaan</th>
                <th colspan="2">Sumber Biaya</th>
                <!--<th colspan="2">Actions</th>-->
            </tr>
            <tr>
                <td >1</td>
                <td >2</td>
                <td >3</td>
                <td >4</td>
                <td >5</td>
                <td >6</td>
                <td >Jumlah</td>
                <td >Sumber</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="RPJMDes in Bidang4 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].No == 1? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].No == 2) || (RPJMDes.WaktuPelaksanaan[1].No == 2)? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].No == 3) || (RPJMDes.WaktuPelaksanaan[1].No == 3)|| (RPJMDes.WaktuPelaksanaan[2].No == 3)? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].No == 4) || (RPJMDes.WaktuPelaksanaan[1].No == 4)|| (RPJMDes.WaktuPelaksanaan[2].No == 4)|| (RPJMDes.WaktuPelaksanaan[3].No == 4)? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].No == 5) || (RPJMDes.WaktuPelaksanaan[1].No == 5)|| (RPJMDes.WaktuPelaksanaan[2].No == 5)|| (RPJMDes.WaktuPelaksanaan[3].No == 5)|| (RPJMDes.WaktuPelaksanaan[4].No == 5)? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].No == 6) || (RPJMDes.WaktuPelaksanaan[1].No == 6)|| (RPJMDes.WaktuPelaksanaan[2].No == 6)|| (RPJMDes.WaktuPelaksanaan[3].No == 6)|| (RPJMDes.WaktuPelaksanaan[4].No == 6)|| (RPJMDes.WaktuPelaksanaan[5].No == 6)? '&#10004;':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <!--<td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>-->
                <!--<td>
                    <span>
          <a class="btn" ui-sref="rpjmdes-edit({rpjmdesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #dcdcdc;">
                <td colspan="12"><strong>Total</strong></td>
                <td colspan="2"><strong>{{Bidang4Total}}</strong></td>
            </tr>
        </tfoot>
  </table>
</div>