<div class="horizontal-scroll">
    <div class="form-group select-page-size-wrap pull-right">
        <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
    </div>
    <div class="add-row-editable-table">
        <button type="button" class="btn btn-warning btn-with-icon" ui-sref="formbuilder({id:0})"><i class="ion-plus-circled"></i>Tambah Formulir</button>
    </div>
    <table class="table" st-table="displayedSurveys" st-safe-src="surveys">
        <thead>
            <tr class="sortable ">
                <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                <th st-sort="NoKK">Nama</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"><input st-search="Nama" placeholder="Search Formulir" class="input-sm form-control search-input" type="search"
                    /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in surveys">
                <td class="table-id">{{$index+1}}</td>
                <td>{{item.Nama}}</td>
                <td>
                    <div class="pull-right">
                        <!--<button type="button" class="btn btn-info btn-raised btn-with-icon" ui-sref="surveydata({id:item.id})"><i class="ion-eye"></i>Lihat data</button>-->
                        <button type="button" class="btn btn-primary btn-raised btn-with-icon" ui-sref="formbuilder({id:item.id})"><i class="ion-edit"></i>Edit</button>
                        <button type="button" class="btn btn-danger btn-raised btn-with-icon" ng-click="deleteForm(item.id)"><i class="ion-trash-a"></i>Hapus</button>
                    </div>

                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>