<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel">Buat RKP baru</h4>
    </div>
    <div class="modal-body">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess1">Bidang</label>
            <input type="text" class="form-control" id="inputSuccess1" ng-model="vm.bidang.Nama" disabled>
            <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
            <span id="inputSuccess2Status" class="sr-only">(success)</span>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess1">Sub Bidang</label>
            <input type="text" class="form-control" id="inputSuccess1" ng-model="vm.rpjmdes.SubBidang" disabled>
            <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
            <span id="inputSuccess2Status" class="sr-only">(success)</span>
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1">Nama</label>
            <input type="text" class="form-control" id="inputSuccess1" ng-model="vm.newRKP.Nama">
        </div>
        <div class="form-group has-error">
            <label class="control-label" for="inputLokasi">Lokasi</label>
            <textarea type="text" class="form-control" id="inputLokasi" ng-model="vm.newRKP.Lokasi"></textarea>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputVolume">Volume</label>
            <input type="text" class="form-control" id="inputVolume" aria-describedby="inputSuccess2Status" ng-model="vm.newRKP.Volume">
            <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
            <span id="inputSuccess2Status" class="sr-only">(success)</span>
        </div>
        <div class="form-group has-warning has-feedback">
            <label class="control-label" for="inputSasaran">Sasaran</label>
            <input type="text" class="form-control" id="inputSasaran" aria-describedby="inputWarning2Status" ng-model="vm.newRKP.Sasaran">
            <i class="ion-alert-circled form-control-feedback" aria-hidden="true"></i>
            <span id="inputWarning2Status" class="sr-only">(warning)</span>
        </div>
        <div class="form-group has-warning">
            <label class="control-label" for="inputJenis">Pelaksana Kegiatan</label>
            <input type="text" class="form-control" id="inputJenis" ng-model="vm.newRKP.Pelaksana">
        </div>
        <div class="form-group">
            <label class="control-label" for="inputBidang">Pola Pelaksanaan</label>
            <select class="form-control selectpicker with-search" data-live-search="true" title="Bidang" selectpicker ng-model="vm.newRKP.PolaPelaksanaanId"
                ng-options="item.id as item.Nama for item in vm.polaPelaksanaanList">
    </select>
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1">Prakiraan Lama Pelaksanaan</label>
            <input type="text" class="form-control" id="inputSuccess1" ng-model="vm.newRKP.PraLamaPelaksanaan">
        </div>

        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1">Mulai Pelaksanaan</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newRKP.TanggalMulai" is-open="popup1.opened"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
          </span>
            </p>
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1">Akhir Pelaksanaan</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newRKP.TanggalSelesai" is-open="popup2.opened"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.ok()">Save</button>
    </div>
</div>