<uib-tabset>
  <uib-tab index="$index + 1" ng-repeat="waktuPelaksanaan in waktuPelaksanaanList">
    <uib-tab-heading>
      {{waktuPelaksanaan.Nama}}
    </uib-tab-heading>
    <div class="row">
      <div class="col-sm-3">
            <div class="control-side text-center">
              <div>
                <button class="btn btn-primary" ng-click="open('app/pages/perencanaan/rpjmdes/newRPJMDesModal.html', 'md')">Add</button>
              </div>
              <div>
                <button class="btn btn-primary" ng-click="collapse()">Collapse All</button>
              </div>
              <div>
                <button class="btn btn-primary" ng-click="expand()">Expand All</button>
              </div>
              <div>
                <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div id="basicTree" js-tree="basicConfigs[$index]" ng-model="treesData[$index]" should-apply="applyModelChanges()" tree="basicTree" tree-events="ready:readyCB"></div>
          </div>
    </div>
  </uib-tab>
</uib-tabset>