<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel">{{vm.gagasan.Nama}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group has-error">
            <label class="control-label" for="inputLokasi">Lokasi Kegiatan</label>
            <textarea type="text" class="form-control" id="inputLokasi" ng-model="vm.gagasan.Lokasi" ng-disabled="vm.gagasan.RPJMDesId"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-success has-feedback">
                    <label class="control-label" for="inputVolume">Prakiraan Volume</label>
                    <input type="number" class="form-control" id="inputVolume" aria-describedby="inputSuccess2Status" ng-model="vm.gagasan.Volume"
                        ng-disabled="vm.gagasan.RPJMDesId">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-warning has-feedback">
                    <label class="control-label" for="inputSasaran">Satuan</label>
                    <input type="text" class="form-control" id="inputSasaran" aria-describedby="inputWarning2Status" ng-model="vm.gagasan.Satuan"
                        ng-disabled="vm.gagasan.RPJMDesId">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Penerima Manfaat</label>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="has-success">
                        <label class="control-label">Laki-laki</label>
                        <input type="number" class="form-control" id="inputManfaatLaki" aria-describedby="inputWarning2Status" ng-model="vm.gagasan.PenerimaManfaat.LK"
                            ng-disabled="vm.gagasan.RPJMDesId">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="has-success">
                        <label class="control-label">Perempuan</label>
                        <input type="number" class="form-control" id="inputManfaatLaki" aria-describedby="inputWarning2Status" ng-model="vm.gagasan.PenerimaManfaat.PR"
                            ng-disabled="vm.gagasan.RPJMDesId">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="has-success">
                        <label class="control-label">A-RTM</label>
                        <input type="number" class="form-control" id="inputManfaatLaki" aria-describedby="inputWarning2Status" ng-model="vm.gagasan.PenerimaManfaat.ARTM"
                            ng-disabled="vm.gagasan.RPJMDesId">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" ng-model="vm.tambahKeRPJMDes" ng-disabled="vm.gagasan.RPJMDesId">
        <span>Tambahkan ke RPJMDes?</span>
  </label>
        </div>
        <div class="form-group" ng-show="vm.tambahKeRPJMDes">
            <label class="control-label" for="inputBidang">Bidang</label>
            <select class="form-control" title="Bidang" ng-model="vm.BidangId"
                ng-options="item.id as item.Nama for item in vm.bidangList" ng-disabled="vm.gagasan.RPJMDesId">
                </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="vm.ok()" ng-hide="vm.gagasan.RPJMDesId">Save</button>
        <button type="button" class="btn btn-success" ng-click="vm.cancel()" ng-show="vm.gagasan.RPJMDesId">OK</button>
    </div>
</div>