<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Buat Gagasan baru</h4>
  </div>
  <div class="modal-body">
    <div class="form-group has-warning">
      <label class="control-label" for="inputJenis">Gagasan Kegiatan</label>
      <textarea type="text" class="form-control" id="inputJenis" ng-model="vm.newGagasan.Nama"></textarea>
    </div>
    <div class="form-group has-error">
      <label class="control-label" for="inputLokasi">Lokasi Kegiatan</label>
      <textarea type="text" class="form-control" id="inputLokasi" ng-model="vm.newGagasan.Lokasi"></textarea>
    </div>

    <div class="form-group has-success has-feedback">
      <label class="control-label" for="inputVolume">Prakiraan Volume</label>
      <input type="number" class="form-control" id="inputVolume" aria-describedby="inputSuccess2Status" ng-model="vm.newGagasan.Volume">
      <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
      <span id="inputSuccess2Status" class="sr-only">(success)</span>
    </div>
    <div class="form-group has-warning has-feedback">
      <label class="control-label" for="inputSasaran">Satuan</label>
      <input type="text" class="form-control" id="inputSasaran" aria-describedby="inputWarning2Status" ng-model="vm.newGagasan.Satuan">
      <i class="ion-alert-circled form-control-feedback" aria-hidden="true"></i>
      <span id="inputWarning2Status" class="sr-only">(warning)</span>
    </div>


    <div class="form-group">
      <label class="control-label" >Penerima Manfaat</label>
      <div class="has-success">
        <label class="control-label">Laki-laki</label>
        <input type="number" class="form-control" id="inputManfaatLaki" aria-describedby="inputWarning2Status" ng-model="vm.newGagasan.PenerimaManfaat.LK">
      </div>
      <div class="has-success">
        <label class="control-label">Perempuan</label>
        <input type="number" class="form-control" id="inputManfaatLaki" aria-describedby="inputWarning2Status" ng-model="vm.newGagasan.PenerimaManfaat.PR">
      </div>
      <div class="has-success">
        <label class="control-label">A-RTM</label>
        <input type="number" class="form-control" id="inputManfaatLaki" aria-describedby="inputWarning2Status" ng-model="vm.newGagasan.PenerimaManfaat.ARTM">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.ok()">Save</button>
  </div>
</div>