<h1>RPJMDes list</h1>
<hr>
<form name="RPJMDesForm" novalidate ng-submit="addRPJMDes()">
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Bidang.$invalid
        && RPJMDesForm.Bidang.$dirty}">
        <label class="col-md-2 col-form-label control-label">Bidang</label>
        <div class="col-md-10">
            <select name="Bidang" class="form-control focus" data-ng-model="selectedBidang" id="Bidang" ng-options="bidang.Nama for bidang in bidangList"
                required>
            <option value="">---Please select---</option>
       </select>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.Bidang.$invalid && RPJMDesForm.Bidang.$dirty">
      Bidang is required.
    </span>
        </div>
    </div>

    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.SubBidang.$invalid
        && RPJMDesForm.SubBidang.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sub Bidang</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="SubBidang" placeholder="SubBidang" autocomplete="off" required ng-model="newRPJMDes.SubBidang">
            <span class="has-error control-label" ng-show="
        RPJMDesForm.SubBidang.$invalid && RPJMDesForm.SubBidang.$dirty">
      Sub Bidang is required.
    </span>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Jenis.$invalid
        && RPJMDesForm.Jenis.$dirty}">
        <label class="col-md-2 col-form-label control-label">Jenis</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control focus" name="Jenis" placeholder="Jenis" autocomplete="off" required ng-model="newRPJMDes.Jenis"></textarea>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.PrakiraanVolume.$invalid
        && RPJMDesForm.PrakiraanVolume.$dirty}">
        <label class="col-md-2 col-form-label control-label">Prakiraan Volume</label>
        <div class="col-md-10">
            <input type="number" class="form-control focus" name="PrakiraanVolume" placeholder="PrakiraanVolume" autocomplete="off" ng-model="newRPJMDes.PrakiraanVolume">
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Sasaran.$invalid
        && RPJMDesForm.Sasaran.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sasaran</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="Sasaran" placeholder="Sasaran" autocomplete="off" ng-model="newRPJMDes.Sasaran">
        </div>
    </div>
    <div class="form-group row" ng-class="{ 'has-error' : submitted && RPJMDesForm.Tahun.$invalid  && RPJMDesForm.Tahun.$dirty}">
        <label class="col-md-2 col-form-label control-label">Tahun</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="year" is-open="status.opened" placeholder="Tahun"
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <div ng-show="submitted && RPJMDesForm.Tahun.$invalid" class="help-block">
                    <p ng-show="RPJMDesForm.Tahun.$error.required">Tahun is required</p>
                </div>
            </p>
        </div>
    </div>
    <button class="btn btn-default btn-success" ng-disabled="RPJMDesForm.$invalid">Add</button>
</form>
<hr>

<div class="list-group">
    <table datatable="ng" id="list-rpjmdes" class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Bidang</th>
                <th>SubBidang</th>
                <th>Jenis</th>
                <th>Lokasi</th>
                <th>PrakiraanVolume</th>
                <th>Sasaran</th>
                <th>Tahun</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="RPJMDes in RPJMDesList track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.Bidang.Nama }}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="editRPJMDes({RPJMDesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>