<h1>RPJMDes list</h1>
<hr>
<form name="RPJMDesForm" novalidate ng-submit="addRPJMDes()">
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Bidang.$invalid
        && RPJMDesForm.Bidang.$dirty}">
        <label class="col-md-2 col-form-label control-label">Bidang</label>
        <div class="col-md-10">
            <select name="Bidang" class="form-control focus" data-ng-model="selectedBidang" id="Bidang" ng-options="bidang.Nama for bidang in bidangList"
                required>
            <option value="">---Please select---</option>
       </select>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.Bidang.$invalid && RPJMDesForm.Bidang.$dirty">
      Bidang is required.
    </span>
        </div>
    </div>

    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.SubBidang.$invalid
        && RPJMDesForm.SubBidang.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sub Bidang</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="SubBidang" placeholder="SubBidang" autocomplete="off" required ng-model="newRPJMDes.SubBidang">
            <span class="has-error control-label" ng-show="
        RPJMDesForm.SubBidang.$invalid && RPJMDesForm.SubBidang.$dirty">
      Sub Bidang is required.
    </span>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Jenis.$invalid
        && RPJMDesForm.Jenis.$dirty}">
        <label class="col-md-2 col-form-label control-label">Jenis</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control focus" name="Jenis" placeholder="Jenis" autocomplete="off" required ng-model="newRPJMDes.Jenis"></textarea>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Lokasi.$invalid
        && RPJMDesForm.Lokasi.$dirty}">
        <label class="col-md-2 col-form-label control-label">Lokasi</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control focus" name="Lokasi" placeholder="Lokasi" autocomplete="off" required ng-model="newRPJMDes.Lokasi"></textarea>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.PrakiraanVolume.$invalid
        && RPJMDesForm.PrakiraanVolume.$dirty}">
        <label class="col-md-2 col-form-label control-label">Prakiraan Volume</label>
        <div class="col-md-10">
            <input type="number" class="form-control focus" name="PrakiraanVolume" placeholder="PrakiraanVolume" autocomplete="off" ng-model="newRPJMDes.PrakiraanVolume">
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Sasaran.$invalid
        && RPJMDesForm.Sasaran.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sasaran</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="Sasaran" placeholder="Sasaran" autocomplete="off" ng-model="newRPJMDes.Sasaran">
        </div>
    </div>
    
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.WaktuPelaksanaan.$invalid
        && RPJMDesForm.WaktuPelaksanaan.$dirty}">
        <label class="col-md-2 col-form-label control-label">Waktu Pelaksanaan</label>
        <div class="col-md-10">
            <select multiple name="WaktuPelaksanaan" class="form-control focus" data-ng-model="selectedWaktuPelaksanaan" id="WaktuPelaksanaan" ng-options="waktuPelaksanaan.Nama for waktuPelaksanaan in waktuPelaksanaanList"
                required>
       </select>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.WaktuPelaksanaan.$invalid && RPJMDesForm.WaktuPelaksanaan.$dirty">
      WaktuPelaksanaan is required.
    </span>
        </div>
    </div>
    
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.SumberBiaya.$invalid
        && RPJMDesForm.SumberBiaya.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sumber Biaya</label>
        <div class="col-md-5">
            <input type="number" class="form-control focus" name="Jumlah" placeholder="Jumlah" autocomplete="off" required ng-model="sumberBiaya.Jumlah">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control focus" name="Sumber" placeholder="Sumber" autocomplete="off" required ng-model="sumberBiaya.Sumber">
        </div>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.SumberBiaya.$invalid && RPJMDesForm.SumberBiaya.$dirty">
      Sumber Biaya is required.
    </span>        
    </div>

    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.PolaPelaksanaan.$invalid
        && RPJMDesForm.PolaPelaksanaan.$dirty}">
        <label class="col-md-2 col-form-label control-label">PolaPelaksanaan</label>
        <div class="col-md-10">
            <select multiple name="PolaPelaksanaan" class="form-control focus" data-ng-model="selectedPolaPelaksanaan" id="PolaPelaksanaan" ng-options="polaPelaksanaan.Nama for polaPelaksanaan in polaPelaksanaanList"
                required>
       </select>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.PolaPelaksanaan.$invalid && RPJMDesForm.PolaPelaksanaan.$dirty">
      PolaPelaksanaan is required.
    </span>
        </div>
    </div>

    <div class="form-group row" ng-class="{ 'has-error' : submitted && RPJMDesForm.Tahun.$invalid  && RPJMDesForm.Tahun.$dirty}">
        <label class="col-md-2 col-form-label control-label">Tahun</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="year" is-open="status.opened" placeholder="Tahun"
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <div ng-show="submitted && RPJMDesForm.Tahun.$invalid" class="help-block">
                    <p ng-show="RPJMDesForm.Tahun.$error.required">Tahun is required</p>
                </div>
            </p>
        </div>
    </div>
    <button class="btn btn-default btn-success" ng-disabled="RPJMDesForm.$invalid">Add</button>
</form>
<hr>

<h3>{{bidangList[0].Nama}}</h3>
<div class="list-group">
    <table id="list-rpjmdes" class="table table-striped">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">SubBidang</th>
                <th rowspan="2">Jenis</th>
                <th rowspan="2">Lokasi</th>
                <th rowspan="2">PrakiraanVolume</th>
                <th rowspan="2">Sasaran</th>
                <th colspan="6">Tahun Pelaksanaan</th>
                <th colspan="2">Sumber Biaya</th>
                <th rowspan="2">Tahun</th>
                <th rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>Jumlah</td>
                <td>Sumber</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="RPJMDes in Bidang1 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? 'X':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="rpjmdes-edit({rpjmdesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{Bidang1Total}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>{{bidangList[1].Nama}}</h3>
<div class="list-group">
    <table id="list-rpjmdes" class="table table-striped">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">SubBidang</th>
                <th rowspan="2">Jenis</th>
                <th rowspan="2">Lokasi</th>
                <th rowspan="2">PrakiraanVolume</th>
                <th rowspan="2">Sasaran</th>
                <th colspan="6">Tahun Pelaksanaan</th>
                <th colspan="2">Sumber Biaya</th>
                <th rowspan="2">Tahun</th>
                <th rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>Jumlah</td>
                <td>Sumber</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="RPJMDes in Bidang2 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? 'X':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="editRPJMDes({RPJMDesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{Bidang2Total}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>{{bidangList[2].Nama}}</h3>
<div class="list-group">
    <table id="list-rpjmdes" class="table table-striped">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">SubBidang</th>
                <th rowspan="2">Jenis</th>
                <th rowspan="2">Lokasi</th>
                <th rowspan="2">PrakiraanVolume</th>
                <th rowspan="2">Sasaran</th>
                <th colspan="6">Tahun Pelaksanaan</th>
                <th colspan="2">Sumber Biaya</th>
                <th rowspan="2">Tahun</th>
                <th rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>Jumlah</td>
                <td>Sumber</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="RPJMDes in Bidang3 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? 'X':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="editRPJMDes({RPJMDesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{Bidang3Total}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>{{bidangList[3].Nama}}</h3>
<div class="list-group">
    <table id="list-rpjmdes" class="table table-striped">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">SubBidang</th>
                <th rowspan="2">Jenis</th>
                <th rowspan="2">Lokasi</th>
                <th rowspan="2">PrakiraanVolume</th>
                <th rowspan="2">Sasaran</th>
                <th colspan="6">Tahun Pelaksanaan</th>
                <th colspan="2">Sumber Biaya</th>
                <th rowspan="2">Tahun</th>
                <th rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>Jumlah</td>
                <td>Sumber</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="RPJMDes in Bidang4 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? 'X':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? 'X':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="editRPJMDes({RPJMDesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{Bidang4Total}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>