<h1>RPJMDes</h1>
<hr>
<uib-accordion close-others="true">
<div uib-accordion-group class="panel-default" is-open="status[0].open">
    <uib-accordion-heading>
        A. {{bidangList[0].Nama}} <span class="pull-right "><strong>{{Bidang1Total}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[0].open, 'glyphicon-chevron-right': !status[0].open}"></i></span>
      </uib-accordion-heading>
<div class="list-group" style="overflow-y: auto;">
    <table datatable="ng" id="list-rpjmdes" class="table table-bordered table-striped hover" dt-options="vm.dtOptions">
        <thead>
            <tr>
                <th class="middle-cell" rowspan="2">No</th>
                <th class="middle-cell" rowspan="2">SubBidang</th>
                <th class="middle-cell" rowspan="2">Jenis</th>
                <th class="middle-cell" rowspan="2">Lokasi</th>
                <th class="middle-cell" rowspan="2">PrakiraanVolume</th>
                <th class="middle-cell" rowspan="2">Sasaran</th>
                <th class="middle-cell" colspan="6">Tahun Pelaksanaan</th>
                <th class="middle-cell" colspan="2">Sumber Biaya</th>
                <!--<th class="middle-cell" rowspan="2">Tahun</th>
                <th class="middle-cell" rowspan="2">Actions</th>-->
            </tr>
            <tr>
                <td class="middle-cell">1</td>
                <td class="middle-cell">2</td>
                <td class="middle-cell">3</td>
                <td class="middle-cell">4</td>
                <td class="middle-cell">5</td>
                <td class="middle-cell">6</td>
                <td class="middle-cell">Jumlah</td>
                <td class="middle-cell">Sumber</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="RPJMDes in Bidang1 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? '&#10004;':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <!--<td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="rpjmdes-edit({rpjmdesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #dcdcdc;">
                <td colspan="12"><strong>Total</strong></td>
                <td colspan="2"><strong>{{Bidang1Total}}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>
<div uib-accordion-group class="panel-default" is-open="status[1].open">
    <uib-accordion-heading>
        B. {{bidangList[1].Nama}} <span class="pull-right "><strong>{{Bidang2Total}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[1].open, 'glyphicon-chevron-right': !status[1].open}"></i></span>
      </uib-accordion-heading>
<div class="list-group" style="overflow-y: auto;">
    <table datatable="ng" id="list-rpjmdes" class="table table-bordered table-striped hover">
        <thead>
            <tr>
                <th class="middle-cell" rowspan="2">No</th>
                <th class="middle-cell" rowspan="2">SubBidang</th>
                <th class="middle-cell" rowspan="2">Jenis</th>
                <th class="middle-cell" rowspan="2">Lokasi</th>
                <th class="middle-cell" rowspan="2">PrakiraanVolume</th>
                <th class="middle-cell" rowspan="2">Sasaran</th>
                <th class="middle-cell" colspan="6">Tahun Pelaksanaan</th>
                <th class="middle-cell" colspan="2">Sumber Biaya</th>
                <!--<th class="middle-cell" rowspan="2">Tahun</th>
                <th class="middle-cell" rowspan="2">Actions</th>-->
            </tr>
            <tr>
                <td class="middle-cell">1</td>
                <td class="middle-cell">2</td>
                <td class="middle-cell">3</td>
                <td class="middle-cell">4</td>
                <td class="middle-cell">5</td>
                <td class="middle-cell">6</td>
                <td class="middle-cell">Jumlah</td>
                <td class="middle-cell">Sumber</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="RPJMDes in Bidang2 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? '&#10004;':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <!--<td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="rpjmdes-edit({rpjmdesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #dcdcdc;">
                <td colspan="12"><strong>Total</strong></td>
                <td colspan="2"><strong>{{Bidang2Total}}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>
<div uib-accordion-group class="panel-default" is-open="status[2].open">
    <uib-accordion-heading>
        C. {{bidangList[2].Nama}} <span class="pull-right "><strong>{{Bidang3Total}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[2].open, 'glyphicon-chevron-right': !status[2].open}"></i></span>
      </uib-accordion-heading>
<div class="list-group" style="overflow-y: auto;">
    <table datatable="ng" id="list-rpjmdes" class="table table-bordered table-striped hover">
        <thead>
            <tr>
                <th class="middle-cell" rowspan="2">No</th>
                <th class="middle-cell" rowspan="2">SubBidang</th>
                <th class="middle-cell" rowspan="2">Jenis</th>
                <th class="middle-cell" rowspan="2">Lokasi</th>
                <th class="middle-cell" rowspan="2">PrakiraanVolume</th>
                <th class="middle-cell" rowspan="2">Sasaran</th>
                <th class="middle-cell" colspan="6">Tahun Pelaksanaan</th>
                <th class="middle-cell" colspan="2">Sumber Biaya</th>
                <!--<th class="middle-cell" rowspan="2">Tahun</th>
                <th class="middle-cell" rowspan="2">Actions</th>-->
            </tr>
            <tr>
                <td class="middle-cell">1</td>
                <td class="middle-cell">2</td>
                <td class="middle-cell">3</td>
                <td class="middle-cell">4</td>
                <td class="middle-cell">5</td>
                <td class="middle-cell">6</td>
                <td class="middle-cell">Jumlah</td>
                <td class="middle-cell">Sumber</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="RPJMDes in Bidang3 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? '&#10004;':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <!--<td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="rpjmdes-edit({rpjmdesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #dcdcdc;">
                <td colspan="12"><strong>Total</strong></td>
                <td colspan="2"><strong>{{Bidang3Total}}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>

<div uib-accordion-group class="panel-default" is-open="status[3].open">
    <uib-accordion-heading>
        D. {{bidangList[3].Nama}} <span class="pull-right "><strong>{{Bidang4Total}}</strong><i class="glyphicon" ng-class="{'glyphicon-chevron-down': status[3].open, 'glyphicon-chevron-right': !status[3].open}"></i></span>
      </uib-accordion-heading>
<div class="list-group" style="overflow-y: auto;" style="overflow-y: auto;">
    <table datatable="ng" id="list-rpjmdes" class="table table-bordered table-striped hover">
        <thead>
            <tr>
                <th class="middle-cell" rowspan="2">No</th>
                <th class="middle-cell" rowspan="2">SubBidang</th>
                <th class="middle-cell" rowspan="2">Jenis</th>
                <th class="middle-cell" rowspan="2">Lokasi</th>
                <th class="middle-cell" rowspan="2">PrakiraanVolume</th>
                <th class="middle-cell" rowspan="2">Sasaran</th>
                <th class="middle-cell" colspan="6">Tahun Pelaksanaan</th>
                <th class="middle-cell" colspan="2">Sumber Biaya</th>
                <!--<th class="middle-cell" rowspan="2">Tahun</th>
                <th class="middle-cell" rowspan="2">Actions</th>-->
            </tr>
            <tr>
                <td class="middle-cell">1</td>
                <td class="middle-cell">2</td>
                <td class="middle-cell">3</td>
                <td class="middle-cell">4</td>
                <td class="middle-cell">5</td>
                <td class="middle-cell">6</td>
                <td class="middle-cell">Jumlah</td>
                <td class="middle-cell">Sumber</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="RPJMDes in Bidang4 track by $index">
                <td>{{ $index + 1}}</td>
                <td>{{ RPJMDes.SubBidang }}</td>
                <td>{{ RPJMDes.Jenis }}</td>
                <td>{{ RPJMDes.Lokasi }}</td>
                <td>{{ RPJMDes.PrakiraanVolume }}</td>
                <td>{{ RPJMDes.Sasaran }}</td>
                <td>{{RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 1'? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 2') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 2')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 3') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 3')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 3')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 4') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 4')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 4')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 5') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 5')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 5')? '&#10004;':''}}</td>
                <td>{{(RPJMDes.WaktuPelaksanaan[0].Nama == 'Tahun 6') || (RPJMDes.WaktuPelaksanaan[1].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[2].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[3].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[4].Nama == 'Tahun 6')|| (RPJMDes.WaktuPelaksanaan[5].Nama == 'Tahun 6')? '&#10004;':''}}</td>
                <td>{{ RPJMDes.SumberBiaya.Jumlah}}</td>
                <td>{{ RPJMDes.SumberBiaya.Sumber}}</td>
                <!--<td>{{ RPJMDes.Tahun | date :  "yyyy"}}</td>
                <td>
                    <span>
          <a class="btn" ui-sref="rpjmdes-edit({rpjmdesId:RPJMDes.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="removeRPJMDes(RPJMDes)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #dcdcdc;">
                <td colspan="12"><strong>Total</strong></td>
                <td colspan="2"><strong>{{Bidang4Total}}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>
</uib-accordion>
<hr>
<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Tambah RPJM</button>
<form name="RPJMDesForm" novalidate ng-submit="addRPJMDes()">
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Bidang.$invalid
        && RPJMDesForm.Bidang.$dirty}">
        <label class="col-md-2 col-form-label control-label">Bidang</label>
        <div class="col-md-10">
            <select name="Bidang" class="form-control focus" data-ng-model="selectedBidang" id="Bidang" ng-options="bidang.Nama for bidang in bidangList"
                required>
            <option value="">---Please select---</option>
       </select>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.Bidang.$invalid && RPJMDesForm.Bidang.$dirty">
      Bidang is required.
    </span>
        </div>
    </div>

    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.SubBidang.$invalid
        && RPJMDesForm.SubBidang.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sub Bidang</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="SubBidang" placeholder="SubBidang" autocomplete="off" required ng-model="newRPJMDes.SubBidang">
            <span class="has-error control-label" ng-show="
        RPJMDesForm.SubBidang.$invalid && RPJMDesForm.SubBidang.$dirty">
      Sub Bidang is required.
    </span>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Jenis.$invalid
        && RPJMDesForm.Jenis.$dirty}">
        <label class="col-md-2 col-form-label control-label">Jenis</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control focus" name="Jenis" placeholder="Jenis" autocomplete="off" required ng-model="newRPJMDes.Jenis"></textarea>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Lokasi.$invalid
        && RPJMDesForm.Lokasi.$dirty}">
        <label class="col-md-2 col-form-label control-label">Lokasi</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control focus" name="Lokasi" placeholder="Lokasi" autocomplete="off" required ng-model="newRPJMDes.Lokasi"></textarea>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.PrakiraanVolume.$invalid
        && RPJMDesForm.PrakiraanVolume.$dirty}">
        <label class="col-md-2 col-form-label control-label">Prakiraan Volume</label>
        <div class="col-md-10">
            <input type="number" class="form-control focus" name="PrakiraanVolume" placeholder="PrakiraanVolume" autocomplete="off" ng-model="newRPJMDes.PrakiraanVolume">
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.Sasaran.$invalid
        && RPJMDesForm.Sasaran.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sasaran</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="Sasaran" placeholder="Sasaran" autocomplete="off" ng-model="newRPJMDes.Sasaran">
        </div>
    </div>
    
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.WaktuPelaksanaan.$invalid
        && RPJMDesForm.WaktuPelaksanaan.$dirty}">
        <label class="col-md-2 col-form-label control-label">Waktu Pelaksanaan</label>
        <div class="col-md-10">
            <div ng-repeat="waktupelaksanaan in waktuPelaksanaanList track by $index">
                <input type="checkbox" ng-model="selectedWaktuPelaksanaan[$index]" ng-true-value="{{waktupelaksanaan}}"><label style="margin-left: 5px">{{waktupelaksanaan.Nama}}</label><br/>
            </div>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.WaktuPelaksanaan.$invalid && RPJMDesForm.WaktuPelaksanaan.$dirty">
      WaktuPelaksanaan is required.
    </span>
        </div>
    </div>
    
    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.SumberBiaya.$invalid
        && RPJMDesForm.SumberBiaya.$dirty}">
        <label class="col-md-2 col-form-label control-label">Sumber Biaya</label>
        <div class="col-md-5">
            <input type="number" class="form-control focus" name="Jumlah" placeholder="Jumlah" autocomplete="off" required ng-model="sumberBiaya.Jumlah">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control focus" name="Sumber" placeholder="Sumber" autocomplete="off" required ng-model="sumberBiaya.Sumber">
        </div>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.SumberBiaya.$invalid && RPJMDesForm.SumberBiaya.$dirty">
      Sumber Biaya is required.
    </span>        
    </div>

    <div class="form-group row" ng-class="{'has-error': RPJMDesForm.PolaPelaksanaan.$invalid
        && RPJMDesForm.PolaPelaksanaan.$dirty}">
        <label class="col-md-2 col-form-label control-label">PolaPelaksanaan</label>
        <div class="col-md-10">
            <div ng-repeat="polaPelaksanaan in polaPelaksanaanList track by $index">
                <input type="checkbox" ng-model="selectedPolaPelaksanaan[$index]" ng-true-value="{{polaPelaksanaan}}"><label style="margin-left: 5px">{{polaPelaksanaan.Nama}}</label><br/>
            </div>
            <span class="has-error control-label" ng-show="
        RPJMDesForm.PolaPelaksanaan.$invalid && RPJMDesForm.PolaPelaksanaan.$dirty">
      PolaPelaksanaan is required.
    </span>
        </div>
    </div>

    <div class="form-group row" ng-class="{ 'has-error' : submitted && RPJMDesForm.Tahun.$invalid  && RPJMDesForm.Tahun.$dirty}">
        <label class="col-md-2 col-form-label control-label">Tahun</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="year" is-open="status.opened" placeholder="Tahun"
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <div ng-show="submitted && RPJMDesForm.Tahun.$invalid" class="help-block">
                    <p ng-show="RPJMDesForm.Tahun.$error.required">Tahun is required</p>
                </div>
            </p>
        </div>
    </div>
    <button class="btn btn-default btn-success" ng-disabled="RPJMDesForm.$invalid">Add</button>
</form>