<h2>Setting RPJMDesa</h2>
<form name="RPJMForm" novalidate ng-submit="addRPJM()">
    <div class="form-group row" ng-class="{'has-error': RPJMForm.TahunMulai.$invalid
        && RPJMForm.TahunMulai.$dirty}">
        <label class="col-md-2 col-form-label control-label">Tahun Mulai*</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="TahunMulai" is-open="statusTahunMulai.opened" placeholder="Tahun Mulai"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openTahunMulai()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <div ng-show="submitted && RPJMForm.TahunMulai.$invalid" class="help-block">
                    <p ng-show="RPJMForm.TahunMulai.$error.required">TahunMulai is required</p>
                </div>
            </p>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': RPJMForm.TahunSelesai.$invalid
        && RPJMForm.TahunSelesai.$dirty}">
        <label class="col-md-2 col-form-label control-label">Tahun Selesai*</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="TahunSelesai" is-open="statusTahunSelesai.opened" placeholder="Tahun Selesai"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openTahunSelesai()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <div ng-show="submitted && RPJMForm.TahunSelesai.$invalid" class="help-block">
                    <p ng-show="RPJMForm.TahunSelesai.$error.required">TahunSelesai is required</p>
                </div>
            </p>
        </div>
    </div>

    
    
    <div class="form-group row" ng-class="{'has-error': RPJMForm.IsActive.$invalid
        && RPJMForm.IsActive.$dirty}">
        <label class="col-md-2 col-form-label control-label">Active</label>
        <div class="col-md-10">
            <input type="checkbox" ng-model="newRPJM.IsActive"><label style="margin-left: 5px">{{newRPJM.IsActive}}</label><br/>
            <span class="has-error control-label" ng-show="
        RPJMForm.IsActive.$invalid && RPJMForm.IsActive.$dirty">
      IsActive is required.
    </span>
        </div>
    </div>
    
    <button class="btn btn-default btn-success" ng-disabled="RPJMForm.$invalid">Add</button>
</form>