<h1>{{currentYearbook.content_id}}</h1>
<hr>
<form name="yearbookForm" class="form-horizontal col-md-12" novalidate ng-submit="saveYearbook()" nv-file-drop="" uploader="uploader"
    filters="queueLimit, customFilter">
    <div class="form-group" ng-class="{'has-error': yearbookForm.content_id.$invalid
        && yearbookForm.content_id.$dirty}">
        <label class="col-md-2 control-label">Content ID</label>
        <div class="col-md-10">
            <input type="text" class="form-control focus" name="content_id" placeholder="Content ID" autocomplete="off" required ng-model="currentYearbook.id"
                disabled>
        </div>
        <div ng-show="submitted && yearbookForm.content_id.$invalid" class="help-block">
            <p ng-show="yearbookForm.content_id.$error.required">Fullname year is required</p>
        </div>
    </div>


    <div class="form-group" ng-class="{'has-error': yearbookForm.school.$invalid
        && yearbookForm.school.$dirty}">
        <label class="col-md-2 control-label">Sekolah</label>
        <div class="col-md-10">
            <select name="school" class="form-control focus" data-ng-model="school" id="school" ng-options="school.name for school in schools track by school.name"
                required></select>
        </div>
        <div ng-show="submitted && yearbookForm.school.$invalid" class="help-block">
            <p ng-show="yearbookForm.school.$error.required">School is required</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : submitted && yearbookForm.gradyear.$invalid }">
        <label class="col-md-2 control-label">Angkatan</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="year" is-open="status.opened" placeholder="Tahun angkatan"
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <div ng-show="submitted && yearbookForm.gradyear.$invalid" class="help-block">
                    <p ng-show="yearbookForm.gradyear.$error.required">Graduation year is required</p>
                </div>
            </p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': yearbookForm.price.$invalid
        && yearbookForm.price.$dirty}">
        <label class="col-md-2 control-label">Harga</label>
        <div class="col-md-10">
            <select name="yearbookprice" class="form-control focus" data-ng-model="yearbookprice" id="yearbookprice" ng-options="yearbookprice for yearbookprice in yearbookprices"
                required></select>
        </div>
        <div ng-show="submitted && yearbookForm.price.$invalid" class="help-block">
            <p ng-show="yearbookForm.price.$error.required">Harga is required</p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': yearbookForm.coverurl.$invalid
        && yearbookForm.coverurl.$dirty}">
        <label class="col-md-2 control-label">Files</label>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h5>Files in the container</h5>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="file in files">
                                <td>
                                    <a href="/api/containers/{{container.name}}/download/{{file.name}}"><strong>{{
                            file.name }}</strong></a></td>
                                <td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="delete($index, file.name)" title="Delete the file">
                            <span class="glyphicon glyphicon-trash"></span>
                            Remove
                        </button>

                                    </td>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <input nv-file-select uploader="uploader" type="file" multiple/>
                </div>
                <div class="col-md-9">
                    <h4>Upload queue</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>



        <div ng-show="submitted && yearbookForm.coverurl.$invalid" class="help-block">
            <p ng-show="yearbookForm.coverurl.$error.required">Cover is required</p>
        </div>
    </div>

    <button class="btn btn-default btn-info pull-right" ng-disabled="yearbookForm.$invalid">Save</button>
</form>
<hr>