<div class="row">
  <div class="col-sm-7">
    <div ba-panel ba-panel-title="Tree" ba-panel-class="with-scroll panel-default">
      <div class="row">
        <div class="col-sm-2">
          <div class="control-side text-center">
            <div>
              <button class="btn btn-primary" ng-click="open('app/pages/penganggaran/belanja/belanjaModal.html', 'md')">Add</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="collapseBelanja()">Collapse All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="expandBelanja()">Expand All</button>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div id="belanjaTree" js-tree="belanjaConfig" ng-model="belanjaTreeData" should-apply="applyModelChanges()" tree="belanjaTree"
            tree-events="ready:belanjaTreereadyCB"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div ba-panel ba-panel-title="{{selectedRABNode.belanjaNo}}.{{selectedRABNode.No}} {{selectedRABNode.Nama}}" ba-panel-class="with-scroll panel-info" ng-show="selectedRABNode">
      <div include-with-scope="app/pages/penganggaran/belanja/belanjaItemForm.html"></div>
    </div>
    <div ba-panel ba-panel-title="{{selectedBelanja.No}} {{selectedBelanja.Nama}}" ba-panel-class="with-scroll panel-info" ng-show="selectedBelanja">
      <div include-with-scope="app/pages/penganggaran/belanja/belanjaTable.html"></div>
    </div>
  </div>
</div>