<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Buat RAB baru</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group has-feedback">
          <label class="control-label" for="inputNama">Nama</label>
          <input type="text" class="form-control" id="inputNama" ng-model="vm.newRAB.Nama">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-success">
          <label class="control-label" for="inputDurasi">Durasi</label>
          <input type="number" class="form-control" id="inputDurasi" ng-model="vm.newRAB.Durasi">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group has-warning">
          <label class="control-label" for="inputSatuanDurasi">Satuan Durasi</label>
          <input type="text" class="form-control" id="inputSatuanDurasi" ng-model="vm.newRAB.SatuanDurasi">
        </div>
      </div>
    </div>
    <div class="row">
      <dv class="col-md-6">
        <div class="form-group has-success">
          <label class="control-label" for="inputVolume">Volume</label>
          <input type="number" class="form-control" id="inputVolume" ng-model="vm.newRAB.Volume">
        </div>
      </dv>
      <dv class="col-md-6">
        <div class="form-group has-warning">
          <label class="control-label" for="inputSatuan">Satuan</label>
          <input type="text" class="form-control" id="inputSatuan" ng-model="vm.newRAB.Satuan">
        </div>
      </dv>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group has-error">
          <label class="control-label" for="inputHargaSatuan">Harga Satuan</label>
          <div class="input-group">
            <span class="input-group-addon addon-left">Rp.</span>
            <input type="number" class="form-control" id="inputHargaSatuan" aria-describedby="inputGroupSuccess1Status" ng-model="vm.newRAB.HargaSatuan"
              placeholder="Harga Satuan">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-success">
      <label class="control-label">Total</label>
      <strong>{{formatCurrency(vm.newRAB.Volume*vm.newRAB.HargaSatuan)}}</strong>
    </div>
    <div class="form-group has-warning">
      <label class="control-label">Sumber Biaya</label>
      <select class="form-control selectpicker with-search" data-live-search="true" selectpicker ng-model="vm.newRAB.SumberBiayaId"
        ng-options="item.id as item.Nama for item in vm.sumberBiayaItemList">
          <option value="">---Pilih---</option>
    </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.ok()">Save</button>
  </div>
</div>